.emotion-diary-container {
    display: flex;
    padding: var(--space-xxs) var(--space-sm);
    align-items: center;
    justify-content: center;
    background-color: var(--color-surface);
    border-radius: var(--radius-full);
    p {
        font-size: var(--font-size-sm);
        font-weight: 500;
        margin-right: 8px;
    }
    
    span {
        display: inline-block;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        margin: 0 4px;
        border: 2px solid white;
    }

    .emotion-badge-number {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        margin: 0 4px;
        border: 2px solid white;
        font-size: 12px;
        font-weight: bold;
        color: white;
        background-color: #BDBDBD;
    }
}
