/* toggle Switch */
.toggle-switch-container {
  display: flex;

}

.toggle-switch-container i {
  display: inline-block;
  position: relative;
  top: -9px;
}

.toggle-switch.toggle-switch-wrapper {
  display: inline-block;
  position: relative;
}

.toggle-switch-inner {
  width: 140px;
  height: 30px;
  background: #e0e0e0;
  border-radius: 26px;
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease;
  display: block;
}

.toggle-switch-inner::before {
  content: attr(data-on);
  position: absolute;
  font-size: 12px;
  font-weight: 500;
  top: 7px;
  right: 20px;
  color: #000;
}

.toggle-switch-inner::after {
  content: attr(data-off);
  width: 70px;
  height: 16px;
  background: #fff;
  border-radius: 26px;
  position: absolute;
  left: 2px;
  top: 2px;
  text-align: center;
  transition: all 0.3s ease;
  box-shadow: 0px 0px 6px -2px #111;
  padding: 5px 0px;
  color: #000;
  font-size: 12px;
}

.toggle-switch input[type="checkbox"] {
  cursor: pointer;
  width: 140px;
  height: 30px;
  opacity: 0;
  position: absolute;
  top: 0;
  z-index: 2;
  margin: 0px;
}

.toggle-switch input[type="checkbox"]:checked + .toggle-switch-inner {
  cursor: pointer;
}

.toggle-switch input[type="checkbox"]:checked + .toggle-switch-inner::after {
  content: attr(data-on);
  left: 68px;
}

.toggle-switch input[type="checkbox"]:checked + .toggle-switch-inner::before {
  content: attr(data-off);
  right: auto;
  left: 20px;
}
