.diary-feedback {
  position: relative;
  display: flex;
  flex-direction: column;
  width: var(--diary-feedback-width); 
  padding: var(--padding-text-editor) var(--padding-patient-home-page);
  gap: var(--space-md);
}

.psy-info-container {
  position: sticky;
  top: var(--space-sm);
  padding: var(--space-sm) 0;
  background: white;

  .psy-profile {
    width: auto;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .psy-info {
    font-weight: bold;
    
    p {
      font-size: var(--font-size-sm);
      opacity: 0.5;
    }
  
    h1 {
      font-size: var(--font-size-md);
    }
  }
}

.feedback-content-list {
  display: flex;
  flex-direction: column;
  gap: var(--space-lg);

  .feedback-item {
    display: flex;
    flex-direction: column;
    gap: var(--space-sm);
  }

  .feedback-text {
    padding: var(--space-md);
    border-radius: var(--radius-md);
    background-color: var(--color-surface);
  
    h1 {
      font-size: var(--font-size-sm);
      font-weight: bold;
    }
  
    p {
      font-size: var(--font-size-sm);
      word-break: break-word;
      line-height: 1.5;
    }
  }
}

.no-feedback {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 20px;
  color: #555;
  text-align: center;
}

.no-feedback .ant-empty {
  width: auto;
}

.no-feedback .ant-empty-image {
  width: 300px;
  height: 150px;
}

.feedback-close-btn {
   background-color: var(--color-surface);
    width: 30px;
  height: 30px;
  border: none;
  cursor: pointer;
  /* padding: var(--space-xs); */
  /* font-size: 20px; */
  border-radius: 50%;
  transition: var(--transition-fast);

  svg {
 
  }
}

.feedback-close-btn:hover {
 
}

/* Mobile Responsive */
@media (max-width: 768px) {
  .diary-feedback {
    width: 100%;
    
    /* h1 {
      font-size: var(--font-size-lg) !important;
    } */
  }
}

/* Tablet Responsive */
@media (min-width: 769px) and (max-width: 1024px) {
  .diary-feedback {
    width: 100%;
  }

  /* .psy-info-container {
    .psy-profile {
      width: 45px;
      height: 45px;
    }
    
    .psy-info {
      p {
        font-size: 13px;
      }
      
      h1 {
        font-size: var(--font-size-sm);
      }
    }
  }

  .feedback-content-list {
    .feedback-text {
      h1 {
        font-size: 14px;
      }
      
      p {
        font-size: 13px;
      }
    }
  } */
}