.diary-list-container {
  position: relative;
  padding: var(--space-sm) var(--space-lg);
}

.diary-list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 16px;
  border-bottom: 1px solid var(--color-border);

  .diary-list-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--space-md);

    .diary-list-create-btn {
      display: flex;
      align-items: center;
      gap: var(--space-xs);
      background-color: var(--ant-color-primary);
      color: white;
      padding: 4px 20px;
      border: none;
      cursor: pointer;
      font-size: var(--font-size-sm);
      transition: var(--transition-fast);
    }
  }
}

.no-data-image {
   max-width: 500px;
    height: auto;
  img {
    object-fit: cover;
  }
  p {
    font-size: var(--font-size-lg);
    font-weight: bold;
    color: #888;
    text-align: center;
  }
}

.diary-list {
  h1 {
    font-size: var(--font-size-xl);
    font-weight: bold;
  }
  
  .diary-grid {
    margin-top: 24px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 340px));
    column-gap: 45px;
    row-gap: 45px;
  
    .diary-item {
      position: relative;
      text-decoration: none;
      width: 360px;
      min-height: 180px;
      color: black;
  
      .unconfirmed-badge {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        top: -5%;
        right: -3%;
        padding: var(--space-xxs);
        background-color: var(--color-yellow-alert); /* สีแดงแจ้งเตือน */
        color: white;
        font-size: var(--font-size-lg);
        border-radius: var(--radius-full);
        z-index: 10;
      }
    }
  }
}
