.diary-list-container {
  position: relative;
  padding: var(--padding-patient-home-page);
}

.diary-list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 16px;
  border-bottom: 1px solid var(--color-border);


  .diary-list-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--space-md);
  }
}

.diary-grid {
  margin-top: 24px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 340px));
  column-gap: 45px;
  row-gap: 45px;

  .diary-item {
    text-decoration: none;
    width: 360px;
    height: 180px;
    color: black;
  }
}