.blurred-bg-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% ;
  height: 100% ;
  z-index: 0;
  pointer-events: none;
  border-radius: var(--radius-lg);
  overflow: hidden;
  background: #1862d9;
  background: linear-gradient(117deg, rgba(24, 98, 217, 1) 0%, rgba(204, 56, 43, 1) 25%, rgba(204, 158, 33, 1) 50%, rgba(17, 173, 98, 1) 75%, rgba(227, 0, 212, 1) 100%);
}

/* .circle {
  position: absolute;
  border-radius: 50%;
  filter: blur(50px);
  mix-blend-mode: normal; 
}

.circle1 {
  width: 200%;
  height: 200%;
  background: #4285F4;
  top: -50%;
  left: -25%;
}

.circle2 {
  width: 300%;
  height: 100%;
  background: #DB4437;
  top: -50%;
  left: 0;
}

.circle3 {
  width: 100%;
  height: 200%;
  background: #F4B400;
  top: 0;
  left: -50%;
}

.circle4 {
  width: 200%;
  height: 100%;
  background: #0F9D58;
  top: 50%;
  left: 60%;
}

.circle5 {
  width: 100%;
  height: 100%;
  background: #76057a;
  top: 80%;
  left: 80%;
} */
